@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgba(15, 73, 174, 0.919);
    text-align: center;
}

main {
    background-color: white;
    width: 550px;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-radius: 8px;
}

.old {
    display: flex;
    flex-direction: column;
    align-items: center;
}